<div style="border: 1px solid red">Post Component</div>
<!--
<mat-card class="post-card">
  <mat-card-header>
    <div mat-card-avatar class="post-card-avatar"></div>
    <mat-card-title>Author name</mat-card-title>
    <mat-card-subtitle>Time and source of post.</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="First attachment of post">
  <mat-card-content>
    <p>
      Quisque lacinia augue sed lorem finibus, sed aliquet elit dignissim.
      Donec mattis, nibh quis feugiat tincidunt, nulla est commodo tellus,
      ut rhoncus nunc mi sit amet est. Aenean venenatis maximus faucibus.
      Morbi gravida arcu eget pretium tincidunt...
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Open source</button>
    <button mat-button>Open details</button>
  </mat-card-actions>
</mat-card>
-->
