<mat-card >
  <mat-card-header>
    <mat-card-title>{{digest.name}}</mat-card-title>
    <mat-card-subtitle>Subscribed: {{subscribed}}</mat-card-subtitle>
    <mat-card-subtitle>Sources: {{digest.sources.length}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
     Digest description goes here.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="openEditSourcesDialog(digest.id)">Edit sources</button>
    <button mat-button (click)="unsubscribe(currentUserId)" *ngIf="subscribed; else subscribeButton">Unsubscribe</button>
    <ng-template #subscribeButton>
      <button mat-button (click)="subscribe(currentUserId)">Subscribe</button>
    </ng-template>
  </mat-card-actions>
</mat-card>
